.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-link {
  color: #09d3ac;
}

.AuthForm {
  width: 50%;
  margin: auto;
  padding-top: 80px;
}

.ButtonGroup {
  width: 30%;
  margin-left: auto;
  margin-right: 15px;
}
